body {
  font-family: Verdana, sans-serif;
  font-size: 13px;
  color: #4F545F;
  margin: 0;
  padding: 0;
}

.heading {
  background-color: gray;
  margin: 0;
  padding: 20px;
  color: white;
  border: 2px solid blue
}

.heading a {
  float: right;
  font-size: 1.4em;
}

#company {
  font-size: 30px;
  font-weight: bold;
  color: white;
  display: inline-block;
}

#company img {
  vertical-align: middle;
}

#slogan {
  margin: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:rgba(0,0,255,0.7);
}

h3 {
  margin: 0;
  font-style: italic;
  color: white;
}

#welcome {
  margin: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:rgba(0,255,0,0.7);
}

textarea {
  display: block;
}

.container {
  margin: 5% auto;
}

.center {
  text-align: center;
}

.center table {
  margin: 25px auto;
  text-align: left;
  border-collapse: collapse;
  border: 1px solid black;
}

th, td {
  border: 3px solid black;
  padding: 10px;
}

#commentError {
  color: red;
}

ul#menu{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: gray;
}

.menu {
  background-color:rgba(0,255,0,0.7)
}

.container {
  margin: 0;
  padding: 0;
}

ul#menu li{
    float: left;
    padding: 20px;
    color: white;
}

ul#menu{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color:rgba(0,255,0,0.7);
    overflow: hidden;
}

ul#menu li:hover, ul#menu li.selected{
    background-color:rgba(0,0,255,0.7);
    color: white;
    cursor: pointer;
}

.selectedSection {
  display: block;
}

.notSelected {
  display: none;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
}

#profileSection h3{
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  color: black;
}

#profileSection div {
  padding-top: 20px;
  padding-bottom: 50px;
}

#homeSection {
  padding-top: 20px;
  padding-bottom: 50px;
}

.field {
  font-weight: bold;
  color: black;
}

.info {
  font-weight: normal;
  color: gray;
  font-style: italic;
}

input#search {
  width: 180px;
  border-radius: 5px;
}

.searchContainer {
  text-align: center;
  margin-top: 10px;
}

.resultsTable {
  display: none;
}

#friendsTable {
  margin-bottom: 40px;
}

.friendsList {
  margin-top: 15px;
}

#searchError {
  color: red;
}

#requestsTable {
  margin-top: 30px;
  margin-bottom: 40px;
}
