/* blue, gray, white, green */
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 13px;
  color: #4F545F;
  min-height: 100vh;
  margin-bottom: 60px;
}

.navbar-uno {
  background-color: #05668D;
}

.content {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 5%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #05668D;
}

footer span {
  color: white;
  line-height: 60px;
}

.error {
  color: red;
}

.card {
  padding-top: 10px;
  border-color: #02C39A;
}

.btn-dos {
  background-color: #02c39a;
}

.profile {
  max-width: 200px;
}

#tabla {
  margin-top: 7%;
  margin-bottom: 7%;
}

#profile {
  margin-top: auto;
  margin-bottom: auto;
}

#searchBar {
  margin-top: 15px;
  margin-bottom: 45px;
}

.card-columns {
  column-count: 3;
}


/*.row {
   display: flex;
   flex-wrap: wrap;
}

.row > div[class*='col-'] {
  display: flex;
}*/
